{% if settings.product_social_enable %}
	<div class="product__sharing">
		<ul class="product__sharelist">
			{% if settings.product_social_twitter_enable %}
				<li>

				</li>
			{% endif %}
			{% if settings.product_social_facebook_enable %}
				<li>
					<div class="fb-share-button" data-href="{{ shop.url }}{{ product.url }}" data-layout="button" data-size="large" data-mobile-iframe="true">
						<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}&amp;src=sdkpreparse">Share</a>
					</div>
				</li>
			{% endif %}
			{% if settings.product_social_google_enable %}
				<li>

				</li>
			{% endif %}
			{% if settings.product_social_linkedin_enable %}
				<li>

				</li>
			{% endif %}
			{% if settings.product_social_pinterest_enable %}
				<li>
					<div class="pin-share-button">
						<a data-pin-do="buttonBookmark" data-pin-tall="true" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a>
					</div>
				</li>
			{% endif %}
			<li>
				<a class="btn__share btn__share--email" target="_blank" href="mailto:?subject={{ product.title }} by {{ shop.name }}&amp;body=I think you may like this product from {{ shop.name }} - {{ shop.url }}{{ product.url }} ">
					<i class="icon share-mail-icon"><img src="{{ "email-icon--white.svg" | asset_url }}"/></i>
					<span>Email</span>
				</a>
			</li>
		</ul>
	</div>

{% endif %}

