{% assign productImageSize = '1024x1024' %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% include 'breadcrumb' %}

<div class="product" itemscope itemtype="http://schema.org/Product">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
	<div class="product__content cf">
		<div class="product__photo">
			<div class="product__photo-main">
				{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
				<img id="js-productFeaturedImage" src="{{ featured_image | img_url: productImageSize }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image | img_url: '1024x1024' }}"/>
			</div>
			{% if product.images.size > 1 %}
				<div id="productThumbs" class="js-productThumbnails product__thumbnails">
					<div class="owl-thumblist">
						<div class="owl-carousel">
							{% for image in product.images %}
								<div class="thumbnail__item">
									<a href="javascript:void(0)" data-imageid="{{ image.id }}" data-image="{{ image.src | img_url: productImageSize }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}">
										<img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt | escape }}">
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="product__details">
			<form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
				<h1 class="product__name" itemprop="name">{{ product.title }}</h1>
				<div id="product-price" class="product__price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="{{ shop.currency }}">
					<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
					{% if settings.product_type_enable %}
						<p class="product-type">
							{{ product.type }}
						</p>
					{% endif %}
					{% if settings.product_vendor_enable %}
						<p class="product-vendor">
							{{ product.vendor }}
						</p>
					{% endif %}
					{% comment %}
						{% if settings.product_short_description %}
							{% if product.description != blank %}
								<div class="proShortDescription rte" itemprop="description">
									{{ product.description | strip_html | truncatewords: 50 }}
								</div>
							{% endif %}
						{% endif %}
					{% endcomment %}
					{% assign variantCount = product.variants | size %}
					<div class="clearfix">
						<span id="ProductPrice" class="price" itemprop="price">
							{{ current_variant.price | money }}
						</span>
						{% if product.compare_at_price > product.price %}
							<span id="ComparePrice" class="price price--compare">
                            {{ current_variant.compare_at_price | money }}
                        </span>
						{% endif %}
					</div>
					{% if settings.product_available_enable %}
						{% if product.available %}
							<p class="product-availability in-stock">{{ 'products.product.available' | t }}</p>
						{% else %}
							<p class="product-availability out-of-stock">{{ 'products.product.unavailable' | t }}</p>
						{% endif %}
					{% endif %}

					<div class="product__variant">
						<label class="product__variant--label">Options</label>
						<select name="id" id="ProductSelect"  class="product__variant--selector">
							{% for variant in product.variants %}
								{% if variant.available %}
									<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
								{% else %}
									<option disabled="disabled">
										{{ variant.title }} - {{ 'products.product.sold_out' | t }}
									</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>

					<div class="product__quantity">
						<label for="Quantity" class="qtySelector">{{ 'products.product.quantity' | t }}</label>
						<div class="quantity__selector">
							<input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector quantity__field">
						</div>
					</div>
					<div class="product__action">
						<button type="submit" name="add" id="AddToCart" class="js-add-to-cart btn btn__action btn__add-to-cart">
							{{ 'products.product.add_to_cart' | t }}
						</button>
					</div>
					{% include 'product-wishlist' %}

				</div>
			</form>

			<div class="product__info">
				<div class="content">
					<h2 class="subtitle">Description</h2>
					{{ product.description }}
				</div>
			</div>

			{% include 'product-share' %}
		</div>
	</div>
</div>
{% comment %}
<div class="block product__block product__block--related">
	{% include 'vela-product-related' %}
</div>
{% endcomment %}
